/* CSS DOCUMENT */ 
body{
    font-family: helvetica;
}

h1{
	font-family: cursive;
    padding: 1em;
	background-color: #87ceeb;
	text-align: center;
    color: #a5292a;
    margin: 0;
}

h2{
    text-align: center;
    color: #a5292a;
    margin-bottom:1em;
}

h3 {
    text-align: center;
    margin-bottom: 0em;
    background-color: #a5292a;
    padding: 1em;
    color: #ffffff;
}

ul {
    margin: 1em;
    padding: 1em;  
}

li{
    padding: 0;
    margin: 0;
    list-style: none;  
}

h4{
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
}

p{
    text-align: center;
    font-weight: 300;
    margin: 0.25em;
}

.price {
    font-weight: 100;
    font-size: 0.9em
}

.appetizers {
    background-color: #f0ffff;
}

.entrees{
    background-color: #ffe4c5;
}

.salads{
    background-color: #90ee90;
}

.dessert
{
    background-color: #fec0ca;
}
